<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>cherub - Find Love With Friends</title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">
  <!-- Custom styles for this template -->
  <link href="css/new-age.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">

  <style>
    /* Mobile first queries */

    /* Larger than mobile */

    @media (min-width: 400px) {
      #profile_pic {
        width: 180px;
        height: 180px;
      }
      header.masthead {
        padding-top: 0;

      }
      .sm-col {
        height: 55%;
      }
      #v-pills-tabContent {
        width: 400;
      }
    }

    /* Larger than phablet */

    @media (min-width: 550px) {

      header.masthead {
        padding-top: 0;

      }
      #profile_pic {
        width: 180px;
        height: 180px;
      }
      #master {
        display: flex;
        flex-direction: column;
        align-self: center;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      #v-pills-tabContent {
        width: 400;
      }
      .sm-col {
        height: 55%;
      }
   

    }

    /* Larger than tablet */

    @media (min-width: 750px) {
      #profile_pic {
      width: 250px;
      height: 250px;
    }
      .row {
        display: flex;
      }
    }

    /* Larger than desktop */

    @media (min-width: 1000px) {

    }

    /* Larger than Desktop HD */

    @media (min-width: 1200px) {

    }
    
  </style>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top mb-0" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">cherub</a>
      <img src="img/favicon.png" width="25px" height="25px">
      <ul class="navbar-nav float-right">
        <li class="nav-item">
          <form action="/logout" method="post">
            <input class="btn btn-outline-light" type="submit" value="Logout">
            {{!-- <a class="nav-link navbar-brand" href="#" type="submit">Logout</a> --}}
          </form>
        </li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <header class="masthead d-inline-flex" id="master">
    <div class="container">
      <div class="row">

        <div class="sm-col">
          <div class="float-left">
            <div class="nav flex-column nav-tabs-google" id="v-pills-tab" role="tablist" aria-orientation="vertical">

              <h1 class="nav-items">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                  aria-selected="true">Home</a>
                <br>
              </h1>

              <h1 class="nav-items">
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                  aria-selected="false">Bio</a>
                <br>
              </h1>

              <h1 class="nav-items">
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                  aria-selected="false">Preferences</a>
                <br>
              </h1>

              <h1 class="nav-items">
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                  aria-selected="false">Settings</a>
                <br>
              </h1>
            </div>
          </div>
        </div>

        <div class="sm-col">
          {{#userslist}}
          <div class="h-100">
            <div class="col row-justify-content-center mt-5">
              <!-- Insert profile pic src below -->
              <img id="profile_pic" src="img/1_1 cropped.jpg" class="rounded-circle" alt="Profile Pic" width="280" height="280">
              <h3 class="text-center ml-2">{{firstname}} {{lastname}}</h3>
            </div>
          </div>
        </div>

      
        <div class="col-4">
          <div class="tab-content mt-5" id="v-pills-tabContent">
            {{!-- Insert Home info below --}}
            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <form action="/edit" method="post">
              <h2>{{firstname}} {{lastname}}</h2>
              <input class="btn btn-outline-success" type="submit" value="Edit">
              </form>
            </div>

            <!-- Insert Bio below -->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <form action="/edit" method="post">
                <p>Integer placerat ultricies eleifend. Phasellus varius a est in efficitur. In eget risus est. Sed sed est eleifend,
                  consectetur ante at, viverra felis. Duis a velit auctor, porta velit in, ultricies ante. Etiam fringilla
                  magna ut congue malesuada. Pellentesque sit amet pulvinar augue. Integer erat metus, tempus vel tincidunt
                  a, tincidunt id nunc.</p>
                  <input class="btn btn-outline-success" type="submit" value="Edit">
              </div>
            </form>
            <!-- Insert Preferences below -->
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <form action="/edit" method="post">
                <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.
                  Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus
                  tincidunt. </p>
                  <input class="btn btn-outline-success" type="submit" value="Edit">
              </div>
            </form>

            <!-- Insert Settings below -->
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <form action="/edit" method="post">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                <input class="btn btn-outline-success" type="submit" value="Edit">
            </div>
            </form>

          </div>
        </div>
        {{/userslist}}
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>
  </header>
  <footer>
    <div class="container">
      <p>&copy; cherub.inc 2018. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>