<form class='register-form' action='/edit-firstname' method='post'>
  <input type="hidden" name="id" value='23'/>
  <input type="text" name="firstname" placeholder="new firstname"/>
  <input type="submit" name='login' value="Login" />
</form>
