<h1>MIC CHECK, 1 2, 1 2</h1>


{{#matchesList}}
<p>matches babyyyyyyyyyy</p>
{{/matchesList}}

<form class='register-form' action='/edit-firstname' method='post'>
  <input type="hidden" name="id" value='23'/>
  <input type="text" name="firstname" placeholder="new firstname"/>
  <input type="submit" name='submit' value="WOW!" />
</form>

<form class='register-form' action='/edit-lastname' method='post'>
  <input type="hidden" name="id" value='23'/>
  <input type="text" name="lastname" placeholder="new lastname"/>
  <input type="submit" name='login' value="Login" />
</form>
